@use '../../styles/variables' as *;
@use 'sass:color';

.abmPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;

    .abmPageContent {
        width: 100%;
        max-width: 1200px;
        padding: 2rem;
    }
}