@use '../../styles/variables' as *;

.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    overflow-x: hidden;

    section {
        width: 100%;
    }
}